@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Tienda de Video Juegos</h1>
    <h1 class="display-4">Estart</h1>

</div>
